{% extends "::base.html.twig" %}

{% block title %}Welkom{% endblock %}
{% block stylesheets %}
<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}