{% extends "WisielecBundle::layout.html.twig" %}

{% block body %}
<div id="pojemnik">
tu bedzie formularz
{{ form_start(form) }}
Hasło: {{ form_widget(form.haslo, { 'value': '' }) }}
Wybierz kategorię: {{ form_widget(form.idKategorii, { 'value': '' }) }}
{{ form_end(form) }}
<a href="{{ path('welcome') }}">Wróć do głównego menu</a>
</div>

{% endblock %}