{% extends "WisielecBundle::layout.html.twig" %}

{% block body %}
<div id="pojemnik">
	<div id="plansza" ></div>
	<div id="szubienica">
		<img src="{{ asset('img/s0.jpg') }}" alt=""/>
	</div>
	<div id="alfabet"></div>
	<div style="clear:both;"></div>
</div>
<div class="js-user-rating" data-get-haslo="{{ wylosowane.haslo }}">
    <!-- ... -->
</div>
{% endblock %}
{% block javascripts %}

<script src="{{ asset('js/przyciski.js') }}"></script>
<script src="{{ asset('js/plansza.js') }}"></script>
{% endblock %}