{% extends "WisielecBundle::layout.html.twig" %}

{% block body %}
{# <a href="{{ path('welcome') }}">Przysłowia</a> #}
<div id="pojemnik">
	<div id="pokrywka">
		<div id="wybor">SZUBIENICA.<br />WYBIERZ KATEGORIĘ PYTAŃ:</div>
		<div id="kategorie">
			<div id="0" class="kat"><a href="{{ path('przyslowia') }}">PRZYSŁOWIA</a></div>
			<div id="1" class="kat"><a href="{{ path('aktorzy') }}">AKTORZY</a></div>
			<div style="clear:both;"></div>
			<div id="2" class="kat"><a href="{{ path('pisarze') }}">PISARZE</a></div>
			<div id="3" class="kat"><a href="{{ path('filmy') }}">FILMY</a></div>
			<div style="clear:both;"></div>
			<div class="kat" style="width:450px;"><a href="{{ path('dodaj_haslo') }}">DODAJ NOWE HASŁO</a></div>
			<div style="clear:both;"></div>
		</div>

	</div>
		<div id="plansza" ></div>
		<div id="szubienica">
			<img src="img/s0.jpg" alt=""/>
		</div>
		<div id="alfabet"></div>
		<div style="clear:both;"></div>
	
	</div>

{% endblock %}